*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    height: 100vh;
    background-color: #E4DCD6;
    z-index: 1;
}
.background .green{
    height: 150px;
    background-color: #2BA59A;
}

.wrapp{
   position: fixed;
   top:50px;
   left: 50%;
   transform: translateX(-50%);
    width: 80%;
    height: calc(100vh - 40px);
    min-width: 1000px;
    -webkit-box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.75);
    margin: auto;
    display: flex;
}
.wrapp .block-left{
    width: 30%;
   background-color: white;
}
.wrapp .block-right{
    width: 70%;
    background-color: rgb(224, 201, 201);
}
.wrapp .block-left .header-left,.header-right{
    width: 100%;
    min-height: 10%;
    padding: 5px 10px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-name{
    height: 100%;
    display: flex;
    align-items: center;
}
.wrapp .block-left .header-left .logo-name img,.logo-name img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
}
.wrapp .block-left .header-left .font-aw, .header-right .font-aw {
    font-size: 20px;
    color: #B1B1B1;
    width: 30%;
    display: flex;
    justify-content: space-around;
 }
 .wrapp .block-left .header-left .font-aw i:hover {
    color: rgb(139, 114, 114);
    transform: scale(1.1);
 }
 .wrapp .block-left .notify {
    background-color: #8EDAFC;
    padding: 10px ;
    display: flex;
    align-items: center;
 }
 .wrapp .block-left .notify .icon {
    background-color: white;
    padding: 13px;
    border-radius: 50%;
    font-size: 15px;
 }
 .wrapp .block-left .notify .text-notify {
   display: flex;
   flex-direction: column;
 }
 .wrapp .block-left .notify .text-notify .link {
    cursor: pointer;
    margin-top:2px ;
    color: #5F8598;
    text-decoration: underline;
  }
  .wrapp .block-left .search {
    padding: 10px;
    background-color: #FAFAFA;
  }
  .wrapp .block-left .search .content-search {
    display: flex;
    align-items: center; 
    height: 30px;
  }

.wrapp .block-left .search .content-search .search-icon {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: white;
  color: #B1B1B1;
  -webkit-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
}
.wrapp .block-left .search .content-search .search-input  {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
}
.wrapp .block-left .search .content-search .search-input input {
    outline-style: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 100%;
  background-color: white;
}
.wrapp .block-left .contact   {
    height: 73.5%;
    overflow-y: scroll;
    padding-bottom:20px ;
}
.wrapp .block-left .contact .box  {
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid rgb(233, 227, 227);
}
.wrapp .block-left .contact .box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.header-right {
    border-left: 1px solid rgb(233, 227, 227);
}
.header-right .font-aw{
    width: 15%;
}
.information{
    display: flex;
    flex-direction: column;
}
.chat{
height: 79%;
background-image: url(../img/mine.jpg);
overflow-y: scroll;
}
.chat .send{
    width: 95%;
    height: 30px;
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.chat .send span{
    height: 100%;
    line-height: 30px;
   padding: 0 60px 0 10px;
    background-color:#DCF8C6;
    border-radius: 2px;
    font-size: 18px;
}
.chat .recive{

    width: 95%;
    height: 30px;
    display: flex;
    margin-top: 20px;
    margin-left:30px ;
    justify-content: flex-start;
}
.chat .recive span{
    height: 100%;
    line-height: 30px;
   padding: 0 60px 0 10px;
    background-color:#f0f0f0;
    border-radius: 2px;
    font-size: 18px;
}



.bar-chat{
    min-height: 11%;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    
}
.bar-chat .tool-chat{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: #B1B1B1;
}
.bar-chat .tool-chat input {
    outline-style: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    width: 80%;
    height: 80%;
  background-color: white;
}

 







