*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    height: 100vh;
    background-color: #D8DBD6;
 
}
.background .green{
    height: 127px;
    background-color: #2BA59A;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.wrapp{
    
   position: fixed;
   top:19px;
   left: 50%;
   transform: translateX(-50%);
    width: 87%;
    height: calc(100vh - 40px);
    min-width: 1000px;
  
    margin: auto;
    display: flex;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    overflow: hidden;
}
.content ,.welcome{
    height: 100%;
    display:none;
    
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
    border-bottom:7px solid  rgb(74 223 131);
}
.welcome .welcome-information{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A8A8A9;
}
.welcome-footer  a{
    color:#1DC25C;
}

.welcome .welcome-information .welcome-img img{
    width: 350px;
}
.welcome .welcome-information .welcome-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:30px 0;
    border-bottom:1px solid #E5E5E6 ;
}
.welcome .welcome-information .welcome-text span{
  color: #737373;
   font-weight: 200;
   font-size: 35px;
}
.wrapp .block-left{
    width: 30%;
   background-color: white;
}
.wrapp .block-right{
    width: 70%;
    background-color:white;
}
.wrapp .block-left .header-left,.header-right{
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-name{
    height: 100%;
    display: flex;
    align-items: center;
}
.wrapp .block-left .header-left .logo-name img,.logo-name img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
}
.wrapp .block-left .header-left .font-aw, .header-right .font-aw {
    font-size: 16px;
    color: #919191;
    width: 34%;
    display: flex;
    justify-content: space-around;
 }
 .wrapp .block-left .header-left .font-aw i:hover,
 .header-right .font-aw i:hover{
    color: rgb(139, 114, 114);
    transform: scale(1.1);
 }
 .wrapp .block-left .notify {
    background-color: #9DE1FE;
    padding:  22px ;
    display: flex;
    align-items: center;
 }
 .wrapp .block-left .notify .icon {
    background-color: white;
    padding: 13px;
    border-radius: 50%;
    font-size: 14px;
 }
 .wrapp .block-left .notify .text-notify {
   display: flex;
   flex-direction: column;
 }
 .wrapp .block-left .notify .text-notify .link {
    cursor: pointer;
    margin-top:2px ;
    color: #5F8598;
    text-decoration: underline;
  }
  .wrapp .block-left .search {
    padding: 10px;
    background-color: #FAFAFA;
  }
  .wrapp .block-left .search .content-search {
    display: flex;
    align-items: center; 
    height: 30px;
  }

.wrapp .block-left .search .content-search .search-icon {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: white;
  color: #B1B1B1;
  -webkit-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
}
.wrapp .block-left .search .content-search .search-input  {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0.52px 0px rgba(0,0,0,0.75);
}
.wrapp .block-left .search .content-search .search-input input {
    outline-style: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 100%;
  background-color: white;
}
.wrapp .block-left .contact   {
   height: calc(100% - 198px);
    overflow-y: auto;
    padding-bottom: 5px;

    
}
.wrapp .block-left .contact .box  {
    display: flex;
    padding:  10px;
    border-bottom: 1px solid rgb(233, 227, 227);
}
.wrapp .block-left .contact .box .message-information   {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.wrapp .block-left .contact .box .message-information .new-message  {
    background-color: #06D755;
    border-radius: 50%;
    padding: 4px 0;
    font-weight: bold;
    color: white;
    font-size: 12px;
  
}
.wrapp .block-left .contact .box .information-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrapp .block-left .contact .box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.header-right {
    border-left: 1px solid rgb(233, 227, 227);
}
.header-right .font-aw{
    width: 15%;
}
.information{
    display: flex;
    flex-direction: column;
}
.chat{
height: calc(100% - 140px);
background-image: url(../img/mine.jpg);
overflow-y: auto;
overflow-x: hidden;
padding-bottom:10px ;
}

.chat .send{
    width: 100%;
    margin-top: 10px;
    margin-right:50px ;
    
}
.chat .data-chat{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.chat .data-chat span{
    padding: 10px;
    background-color: #E1F3FB;
    border-radius: 10px;
}

.chat .send .box-message,.chat .recive .box-message{
    max-width: 30%;
    float: right;
    clear: both;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 7px 60px 7px 10px;
    background-color:#DCF8C6;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    margin-right: 20px;
    margin-top:5px ;
    word-break: break-word;
}
.chat .send .box-message .option{
    position:absolute;
    top: 3px;
    right: 10px;
    color: #afafaf;
    display: none;
    height: 100%;
    border-radius: 5px;
}
.chat .send .box-message:hover .option{
    display: block;
}
.option .list-option{
    width: 200px;
    padding: 20px 0;
    background-color: white;
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.26);
box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.26);
    z-index: 100;
}
.option .list-option li{
    width: 90%;
    text-align: center;
    color: black;
    padding: 10px 0;
}
.option .list-option  li:hover{
    background-color: #f5f5f5;
}
.chat .send .box-message .ora{
   position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 14px;
    color: rgb(93, 143, 93);
}
.chat .recive{
    width: 100%;
    margin-left:30px ;
}
.chat .recive .box-message{
    float: left;
    background-color: white;
    margin-top: 10px;
}
.chat .recive .box-message .ora{
    position: absolute;
     bottom: 0;
     right: 5px;
     font-size: 14px;
     color: rgb(93, 143, 93);
 }
.bar-chat{
    height: 80px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    
}
.active{
    background-color:#EBEBEB;
}
.bar-chat .tool-chat{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
   color: #B4B4B4;
}


.bar-chat .tool-chat input {
    outline-style: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    width: 80%;
    height: 80%;
    border-radius:30px ;
  background-color: white;
}
.display-show{
    display: block;
}
.display-hidden{
    display: none;
}
 







