<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link id="favicon" rel="shortcut icon" href="https://web.whatsapp.com/img/favicon/1x/favicon.png" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/framework.css">
    <title>WhatsApp Web</title>
</head>
<body>
        <div class="background">
            <div class="green"></div>
        </div>
        <!-- contenitore geenerale -->
        <div class="wrapp">
            <!-- blocco di sinitra -->
            <div class="block-left">
                <div class="header-left">
                    <div class="logo-name">
                        <img class="m_left15" src="img/avatar_io.jpg" alt=""> 
                    </div>
                    <!-- icon -->
                    <div class="font-aw">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- sezione notifica -->
                <div class="notify">
                    <div class="icon m_right_25">
                        <i style="color: #8EDAFC;" class="fas fa-bell-slash"></i>
                    </div>
                    <div class="text-notify">
                        <span style="color: #455257;" >Ricevi notifiche di nuovi messaggi</span>
                        <span class="link">Attiva notifiche desktop</span>
                    </div>
                </div>
                <!-- sezione ricerca -->
                <div class="search">
                    <div class="content-search">
                        <div class="search-icon">
                            <i  class="fas fa-search"></i>
                        </div>
                        <div class="search-input">
                            <input type="text" v-model="search" @keyup="searchContact" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div> 
                </div>
                <!-- sezione contatti -->
                <div class="contact text_color-grey">
                    <div v-for="(contact,index) in contacts" v-if="contact.visibility ==true" @click="checkcontact(contact.index,index)" class="box" :class="contact.click">
                        <img class="m_right_15" :src="contact.img" alt="">
                        <div  class="information-contact ">
                            <span class="ms_text_black bold">{{contact.nome}}</span>
                            <span class="font_size_16" v-if="contact.lastmessage.stato=='send'" ><i   class="fas fa-check-double font_size_12 m_right_10"></i>{{contact.lastmessage.text}}</span>
                            <span v-else   >{{contact.lastmessage.text}}</span>
                        </div>
                        <div class="message-information">
                            <span class="font_size_12" >{{contact.lastmessage.ora}}</span>
                            <span class="new-message text-center" v-if="contact.unready>0">{{contact.unready}}</span>
                        </div>
                        
                    </div>
                </div> 
        </div>
        <!-- blocco di destra -->
        <div class="block-right">
            <!-- pagina principale -->
            <div class="welcome">
                <div class="welcome-information">
                    <div class="welcome-img">
                        <img src="img/whatsapp_welcome.jpg" >
                    </div>
                    <div  class="welcome-text">
                        <span>Mantieni il telefono connesso</span>
                        <div class="text-center m_top_10" >WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</div>
                    </div>
                    <div class="welcome-footer m_top_50">
                        <div><i class="fas fa-laptop m_right_10"></i>WhatsApp è disponibile per Windows. <a  class="bold" href="https://www.whatsapp.com/download" target="_blank">Scaricala qui</a></div>
                    </div>
                </div>
            </div>
            <div  class="content">
                <div v-for="contact in contactCheck" class="header-right">
                        <!-- intestazione -->
                    <div class="logo-name">
                        <img  :src="contact.img" alt="">
                        <div class="information m_left10">
                            <span class="bold">{{contact.nome}}</span>
                            <span v-if="contact.lastAcces=='sta scrivendo...'" style="color: #07BC4C;"> {{contact.lastAcces}}</span>
                            <span v-else style="color: #979c9e;"> {{contact.lastAcces}}</span>
                        </div>
                    </div>
                    <!-- icon -->
                    <div class="font-aw">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- sezione chat -->
                <div v-for="contact in contactCheck"  class="chat">
                    <div v-for="contact in contactCheck" class="data-chat">
                        <span>{{contact.data}}</span>
                    </div>
                    <div  v-for="message in contact.messages">
                        <div :class="message.stato">
                            <div class="box-message">
                                <span>{{message.text}}</span>
                                <span class="ora">{{message.ora}}</span>
                            </div>                 
                        </div>
                    </div>
                </div>
                <!-- sezione chat -->
                <div class="bar-chat">
                    <div class="tool-chat">
                        <i class="far fa-smile"></i>
                        <i class="fas fa-paperclip"></i>
                        <input type="text" v-model="message" @keyup.enter="addelement" placeholder="Scrivi un messaggio">
                        <i v-if="message.length==0" class="fas fa-microphone "></i>
                        <i v-else class="far fa-paper-plane "></i>
                    </div>
                </div>
        </div>
    </div>
  </div>  
    <script src="js/vue.js"></script>
</body>
</html>