<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/framework.css">
    <title>Document</title>
</head>
<body>
        <div class="background">
            <div class="green"></div>
        </div>
        <div class="wrapp">
            <div class="block-left">
                <div class="header-left">
                    <div class="logo-name">
                        <img class="m_left15" src="img/avatar_io.jpg" alt="">
                     
                    </div>
                    <div class="font-aw">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notify">
                    <div class="icon m_right_25">
                        <i style="color: #8EDAFC;" class="fas fa-bell-slash"></i>
                    </div>
                    <div class="text-notify">
                        <span style="color: #455257;" >Ricevi notifiche di nuovi messaggi</span>
                        <span class="link">Attiva notifiche desktop</span>
                    </div>
                </div>
                <div class="search">
                    <div class="content-search">
                        <div class="search-icon">
                            <i  class="fas fa-search"></i>
                        </div>
                        <div class="search-input">
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div> 
                </div>
                <div class="contact">
                    <div v-for="(contact,index) in contacts" @click="checkcontact(index)" class="box" :class="contact.click">
                        <img class="m_right_15" :src="contact.img" alt="">
                        <div  class="information-contact">
                            <span>{{contact.nome}}</span>
                            <!-- <span v-if="lastmessages(contact.messages)==true"  style="color: grey; font-size: 16px;" ><i style="color: grey; font-size: 12px;" class="fas fa-check-double m_right_10"></i>{{lastmessage.text}}</span>
                            <span v-else  style="color: grey;" >{{lastmessage.text}}</span> -->
                        </div>
                    </div>
                </div> 
        </div>
        <div class="block-right">
            <div class="welcome">
                <div style="color: #A8A8A9;"class="welcome-information">
                    <div class="welcome-img">
                        <img src="img/whatsapp_welcome.jpg" >
                    </div>
                    <div  class="welcome-text">
                        <span style="color: #737373; font-weight: 200;" class="font_size_35">Mantieni il telefono connesso</span>
                        <div class="text-center m_top_10" >WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</div>
                    </div>
                    <div class="welcome-footer m_top_50">
                        <div><i class="fas fa-laptop m_right_10"></i>WhatsApp è disponibile per Windows. <a style="color:#1DC25C; font-weight: bold;" href="https://www.whatsapp.com/download" target="_blank">Scaricala qui</a>.</div>
                    </div>
                </div>
            </div>
            <div  class="content">
                <div v-for="contact in contactCheck" class="header-right">
                    <div class="logo-name">
                        <img  :src="contact.img" alt="">
                        <div class="information m_left10">
                            <span class="bold">{{contact.nome}}</span>
                            <span style="color: #979c9e; margin-top:5px ;">Ultimo accesso oggi alle: {{contact.lastAcces}}</span>
                        </div>
                    </div>
                    <div class="font-aw">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div v-for="contact in contactCheck"  class="chat">
                    <div class="data-chat"><span>{{contact.data}}</span></div>
                    <div  v-for="message in contact.messages">
                        <div :class="message.stato">
                            <div class="box-message">
                                <span>{{message.text}}</span>
                                <span class="ora">{{message.ora}}</span>
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class="bar-chat">
                    <div class="tool-chat">
                        <i class="far fa-smile"></i>
                        <input type="text" v-model="message" @keyup.enter="addelement" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
        </div>
    </div>
  </div>  
    <script src="js/vue.js"></script>
</body>
</html>